<html>
<head>
<title>GopherFace - {{.PageTitle}}</title>
<link rel="stylesheet" type="text/css" href="/static/css/pure.css" />
<link rel="stylesheet" type="text/css" href="/static/css/gopherface.css" />
<link rel="stylesheet" type="text/css" href="/static/css/alertify.core.css" />
<link rel="stylesheet" type="text/css" href="/static/css/alertify.default.css" />
<link  href="https://fonts.googleapis.com/css?family=Lobster:regular" rel="stylesheet" type="text/css" >
<script type="text/javascript" src="/static/js/alertify.js" type="text/javascript"></script>
{{/* <script type="text/javascript" src="/js/client.min.js" type="text/javascript"></script> */}}
<script type="text/javascript" src="/static/js/client.min.js" type="text/javascript"></script>
</head>
<body>

<div id="sitelogo">GopherFace</div>

<div id="navigationBar">
<ul>
	<li><a href="/feed">Feed</a></li>
	<li><a href="/friends">Friends</a></li>
	<li><a href="/myprofile">My Profile</a></li>
	<li id="logout_item"><a href="/logout">Log Out</a></li>

</ul>
</li>

